<div class="fleet-status">
    <table class="fleet-table">
        <thead>
            <tr>
                <th>Ship</th>
                <th>Length</th>
                <th>Shots</th>
                <th>Status</th>
                <th>Hits</th>
            </tr>
        </thead>
        <tbody>
            {% for ship_type in ship_types %}
            <tr>
                <td class="ship-name">{{ ship_type.ship_name }}</td>
                <td class="ship-length">{{ ship_type.length }}</td>
                <td class="ship-shots">{{ ship_type.shots }}</td>
                <td class="ship-status">
                    {% set player_ship = find_player_ship_by_type(player, ship_type) %}
                    {% if player_ship %}
                        {% if player_ship.is_sunk %}
                            <span class="status-sunk">SUNK</span>
                        {% else %}
                            <span class="status-afloat">AFLOAT</span>
                        {% endif %}
                    {% else %}
                        <span class="status-not-placed">NOT PLACED</span>
                    {% endif %}
                </td>
                <td class="ship-hits">
                    {% set player_ship = find_player_ship_by_type(player, ship_type) %}
                    {% if player_ship %}
                        {{ player_ship.hits|length }}/{{ player_ship.length }}
                    {% else %}
                        0/0
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>