<div class="shots-board">
    <table class="board-table">
        <thead>
            <tr>
                <th></th>
                {% for col in range(10) %}
                <th>{{ col + 1 }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in range(10) %}
            <tr>
                <td class="row-label">{{ (row + 65)|chr }}</td>
                {% for col in range(10) %}
                
                {% set shot_fired = find_shot_fired_at_position(player, row, col) %}
                
                {% if shot_fired %}
                    <td class="cell fired" data-row="{{ row }}" data-col="{{ col }}">{{ shot_fired }}</td>
                {% else %}
                    <td class="cell water" data-row="{{ row }}" data-col="{{ col }}">~</td>
                {% endif %}
                
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>